@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-lato;
}

.container {
  @apply max-w-[1920px] mx-auto mt-14 md:mt-16 lg:mt-20 px-[5%] lg:px-[6%];
}

.mt-responsive {
  @apply mt-14 md:mt-16 lg:mt-20;
}

.hide-scrollable {
  overflow: scroll; /* Enable scrolling for this element */
  height: 100%; /* Adjust as needed */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Chrome, Safari, Edge, Opera */
.hide-number-spinner::-webkit-outer-spin-button,
.hide-number-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-number-spinner[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  @apply w-full py-2 rounded border font-semibold text-lg text-center hover:shadow-md;
}

.btn-primary {
  @apply btn border-primary-dark bg-primary-dark disabled:bg-primary-light disabled:border-primary-light disabled:opacity-60 text-background-light;
}

.btn-primary-outline {
  @apply btn border-primary-dark text-primary-dark;
}

.form-input {
  @apply w-full px-4 py-2 border border-gray-300 rounded focus:border-primary focus:shadow outline-none bg-transparent;
}
