@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-lato;
}

.container{
  @apply max-w-[1200px] mx-auto px-2 py-6 lg:p-12;
}

.hide-scrollable {
  overflow: scroll; /* Enable scrolling for this element */
  height: 100%; /* Adjust as needed */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Chrome, Safari, Edge, Opera */
.hide-number-spinner::-webkit-outer-spin-button,
.hide-number-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-number-spinner[type="number"] {
  -moz-appearance: textfield;
}

.btn{
  @apply w-full py-2 rounded border font-semibold text-lg text-center
}

.btn-primary{
  @apply btn border-primary-dark bg-primary-dark disabled:bg-[#0000001F] disabled:border-transparent text-background-light
}

.btn-primary-outline{
  @apply btn border-primary-dark text-primary-dark
}